body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.gallery-item{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden; /*удаляет контент, входящий за пределы границы */
}
.gallery-item img{
    width: 100%;
    height: 100%;
    display: block;
}
.gallery-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
h1{
    text-align: center;
}